@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.contenedor2 {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contenedor3 {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* header*/

header {
    width: 100%;
    height: 600px;
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(210, 30%, 24%, 0.603), hsla(204, 8%, 76%, 0.61)), url(../img/portada1.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(210, 30%, 24%, 0.603), hsla(204, 8%, 76%, 0.61)), url(../img/portada1.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.headerform{
    width: 100%;
    height: 600px;
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(210, 30%, 24%, 0.603), hsla(204, 8%, 76%, 0.61)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(210, 30%, 24%, 0.603), hsla(204, 8%, 76%, 0.61)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#menu{
    margin:auto;
}
ul li{
    list-style: none;
}

.nav li a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px 15px;
    display: block;
}
.nav li a:hover{
    background-color: #351450;
}
.nav > li{
    float:left;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover > ul{
    display: block;
}
.nav li ul li {
    position: relative;
}
.nav li ul li ul{
    right: -140px;
    top: 0px;
}

.nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*contacta*/

#contacta{
    background-color: #351450;
    color: #fff;
    padding: 20px 0;
}
#contacta h1{
    padding-right: 10vw;
}


#contacta a{
    font-size: 20px;
    display: block;
    padding: 0 10px;
    background: #f1eeee; color: #351450; 
    font-weight: bold;
    line-height: 50px; 
    border-radius: 20px; 
    text-decoration: none;
    text-shadow: 1px 1px #0000006b;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.5);
}

/* about us*/

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
    
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* galeria**/

.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    width: 30%;
    padding-left: 1vw;
    padding-right: 1vw;
}

.imagen-port{
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.imagen-port > img{
    width: 30vw;
    height: 30vh;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    background: hsla(273, 91%, 27%, 0,5);
    display: flex;
    justify-content: center ;
    align-items: center;
}

.hover-galeria img {
    width: 50px;
}

.hover-galeria p{
    color: #fff;

}

.imagen-port .hover-galeria {
    transform: scale(1);
}

/*cards*/

.servicios{
    background-color: #351450;

}

.servicios h2{
    color: #fff;
    padding-top: 25px;
}

.cards{   
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding-bottom: 50px;
    
   color: rgb(255, 255, 255);
   box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.card{
    width: 25%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: #351450;
    
}

.card > img{ 
    object-fit: none;
}

.card p {
    margin-bottom: 10px;
    margin-left: 10px;
}
.card h4{
    margin-bottom: 5px;
    margin-left: 10px;
    color: #c99ad4;
    font-size: 25px;
    text-align: center;
    text-align: left;
}

/*footer*/
footer {
    position: static;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: rgb(83, 83, 110);
    color: white;
    text-align: center;
  }

  footer .socialmedia i{
      font-size: 5em;

  }

  .item__contact{
    padding: 15px;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer .item__contact i{
      font-size: 2em;
      padding-right: 5px;
  }

  /*form*/
  
  .form{
    background-color: #fff;
    margin: auto;
    margin-bottom: 100px;
    width: 50%;
    max-width: 400px;
    min-width: 200px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30% );
    text-align: center;
}

.form__title{

    font-size: 2rem;
    margin-bottom: .5em;
}

.form__paragraph{
    font-weight: 300;
}

.form__link{
    font-weight: 400;
    color:black;
}
.form__container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form__group{
    position: relative;
    --color: #5757577e;

}

.form__input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3m;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}

.form__input:not(:placeholder-shown){
    color: #4d4646
}

.form__input:focus + .form__label, .form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
}

.form__label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    translate: translateY(50px);
    transition: transform .5s, color .3s;


}
.form__submit{
    background: #3866f2;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;

}

.form__line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form__input:focus ~ .form__line, .form__input:not(:placeholder-shown) ~ .form__line{
    transform: scale(1);
}

@media screen and (max-width:1000px){
    .form__title{
        font-size: 1.8rem;
    }

    .textos-header h1{
        font-size: 40px;
        color: #fff;
        padding: 10px;
    }
    
    
    .textos-header h2{
        font-size: 20px;
        font-weight: 300;
        color: #fff;
        padding: 10px;
    }

    .contenedor {
        padding: 10px 0;
        width: 100%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
    }

    .contenedor-sobre-nosotros {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 80%;
        padding: 20px 0;
    }

    #contacta a{
        font-size: 15px;
        text-align: center;
        display: block;
        padding: 10px 20px;
        background: #f1eeee; color: #351450; 
        font-weight: bold;
        line-height: 20px; 
        border-radius: 20px; 
        text-decoration: none;
        text-shadow: 1px 1px #0000006b;
        box-shadow: 6px 6px rgba(0, 0, 0, 0.5);
    }

    .contenido-textos p {
        padding: 0px 0px 30px 15px;
        font-weight: 500;
        text-align: justify;
    }

    .contenedor2 {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .galeria-port{
        width: 80%;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .imagen-port > img{
        width: 100%;
        display: block;
    }

    .cards{   
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
         
        color: rgb(255, 255, 255);
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .0);
     }

     .card{
        width: 100%;
        margin: 20px 0;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        background-color: #454546;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
        
    }

    






}


  